html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 100%;
  height: 60px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav .nav-right-section {
  width: 250px;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav .nav-right-section a {
  margin-right: 10px;
  color: #000;
}

nav .nav-right-section .menu-icon {
  background-image: url("../assets/apps.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  padding-right: 15px;
  cursor: pointer;
}

nav .nav-right-section img {
  border-radius: 50px;
  margin-left: 15px;
}

main {
  margin-top: 100px;
  text-align: center;
}

main .main-logo {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}
main .main-logo img {
  height: 92px;
  width: 272px;
}

main .main-input {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 29px;
}

main .main-input-container {
  width: 525px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-input input {
  width: 450px;
  height: 40px;
  border: none;
  outline: none;
}

main .main-input-container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

main .main-input .search-icon {
  background-image: url("../assets/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

main .main-input .microphone-icon {
  background-image: url("../assets/microphone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

main .language {
  color: #1a0dab;
}

main .language:hover {
  text-decoration: underline;
}

main .main-buttons {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 25px;
}

main .main-buttons div {
  display: inline-block;
}

main .main-buttons button {
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;

  cursor: pointer;
  font-size: 1.4rem;
  color: #3c4043;
  border-radius: 5px;
  padding: 0 15px;
  margin-right: 15px;
}

main .main-buttons button:hover {
  box-shadow: 0 1px 1px rgb(0, 0, 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.region {
  display: grid;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  align-items: center;
  position: absolute;
  bottom: 50px;
  font-size: 1.5rem;
  color: #70757a;
}

.location {
  padding-left: 20px;
}

footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 1.4rem;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

footer ul {
  margin: 10px;
  list-style: none;
  display: flex;
  padding-left: 0;
}

footer .footer-left {
  justify-self: left;
}

footer .footer-right {
  justify-self: right;
}

footer ul li a {
  margin: 10px;
  color: #70757a;
}
